div{
    padding: 20px;
    
     
}


@media (min-width: 768px) and (max-width: 1200px) {
    .btn{
        font-size: 24px;
    }
    .text{
        font-size: 24px;
    }
    
    .text2{
        font-size: 24px;
    }
}

 @media (max-width: 767px) {
    .btn{
        font-size: 20px;
    }
      .text{
        font-size: 20px;
    }
    
    .text2{
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .btn{
        font-size: 16px;
    }
  .text{
        font-size: 16px;
    }
    
    .text2{
        font-size: 16px;
    }
}